pip install alipay-sdk-python==3.6.498
pip install aliyun-python-sdk-alidns==3.0.1
pip install aliyun-python-sdk-core==2.13.36
pip install APScheduler==3.9.1.post1
pip install bcrypt==3.1.7
pip install Brotli==1.0.9
pip install certifi==2021.10.8
pip install cffi==1.15.1
pip install chardet==4.0.0
pip install click==7.1.2
pip install cryptography==3.3.2
pip install dnspython==1.16.0
pip install docopt==0.6.2
pip install docutils==0.18.1
pip install enum34==1.1.10
pip install Flask==1.1.4
pip install Flask-Compress==1.13
pip install forcediphttpsadapter==1.0.2
pip install funcsigs==1.0.2
pip install futures==3.4.0
pip install gevent==22.10.2
pip install greenlet==2.0.1
pip install gunicorn==19.10.0
pip install idna==2.10
pip install ipaddress==1.0.23
pip install itsdangerous==1.1.0
pip install Jinja2==2.11.3
pip install jmespath==0.10.0
pip install lockfile==0.12.2
pip install lxml==4.9.2
pip install MarkupSafe==1.1.1
pip install Pillow==6.2.2
pip install psutil==5.9.4
pip install pyasn1==0.4.8
pip install pycparser==2.21
pip install pycrypto==2.6.1
pip install pycryptodome==3.16.0
pip install PyMySQL==0.10.1
pip install pyOpenSSL==21.0.0
pip install python-daemon==2.3.0
pip install python-dateutil==2.8.2
pip install pytz==2022.7
pip install qcloudapi-sdk-python==2.0.15
pip install requests==2.27.1
pip install rsa==4.5
pip install six==1.16.0
pip install supervisor==4.2.5
pip install tzlocal==2.1
pip install urllib3==1.26.13
pip install weixin-python==0.5.7
pip install Werkzeug==1.0.1
pip install yarg==0.1.9
pip install zope.event==4.6
pip install zope.interface==5.5.2